.example-card {
  max-width: 290px;
}

.example-header-image {
  background-size: cover;
}

.container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url("https://www.xtrafondos.com/descargar.php?id=4518&resolucion=3840x2400");
  .example-card{
    margin-bottom: 10px;
  }
}
